<div class="container contenedor">
    <h3 class="text-center mb-4 tituloSeccion">PROGRAMACIÓN FUNCIONAL</h3>
    <p>
        La programación funcional es un paradigma de programación que trata a las funciones 
        como ciudadanos de primera clase y se enfoca en tratar los programas como evaluación de 
        funciones matemáticas. Las funciones mas comunes con arrays en Javascript/Typescript son:
        filter, find, findIndex, some, every, map, concat, reduce, toReversed, toSpliced, toSorted.
    </p>
    <br>
    <h6>Filter()</h6>
    <p>
        La función filter() en TypeScript (y JavaScript en general) se utiliza para crear un nuevo 
        arreglo que contiene todos los elementos de un arreglo original que cumplan con cierta condición
    </p>
    <br>
    <div class="codigoDestacado">
        <pre><code appResaltado [code]="codigoFilter"></code></pre>
    </div>
    <br>
    <h6>Find()</h6>
    <p>
        se utiliza para buscar el primer elemento en un array que cumple con una determinada condición. 
        Se utiliza comúnmente cuando se necesita encontrar un único elemento dentro de una colección de 
        elementos que cumpla con una condición específica.
    </p>
    <br>
    <div class="codigoDestacado">
        <pre><code appResaltado [code]="codigoFind"></code></pre>
    </div>
    <br>
    <h6>FindIndex()</h6>
    <p>
        La función findIndex() es un método que está disponible en los arrays en JavaScript. Su propósito es 
        encontrar el índice del primer elemento en el array que cumple con una cierta condición proporcionada 
        por una función de prueba (callback), igual que la anterior pero te devuelve el indice.
    </p>
    <br>
    <div class="codigoDestacado">
        <pre><code appResaltado [code]="codigoFindIndex"></code></pre>
    </div>
    <br>
    <h6>Some()</h6>
    <p>
        El método some() en TypeScript (y JavaScript en general) se utiliza para determinar si al menos un elemento 
        de un array cumple con cierta condición. Este método devuelve true si al menos un elemento satisface la 
        condición especificada en la función de prueba proporcionada; de lo contrario, devuelve false.
    </p>
    <br>
    <div class="codigoDestacado">
        <pre><code appResaltado [code]="codigoSome"></code></pre>
    </div>
    <br>
    <h6>Every()</h6>
    <p>
        El método every() en TypeScript (y JavaScript en general) se utiliza para determinar si todos los elementos 
        de un array cumplen con cierta condición. Este método devuelve true si todos los elementos satisfacen la 
        condición especificada en la función de prueba proporcionada; de lo contrario, devuelve false.
    </p>
    <br>
    <div class="codigoDestacado">
        <pre><code appResaltado [code]="codigoEvery"></code></pre>
    </div>
    <br>
    <h6>Map()</h6>
    <p>
        El método map() en TypeScript (y JavaScript en general) se utiliza para transformar cada elemento de un array 
        en un nuevo elemento, generando así un nuevo array con los resultados de aplicar una función a cada elemento 
        del array original. El array resultante tendrá la misma longitud que el array original
    </p>
    <br>
    <div class="codigoDestacado">
        <pre><code appResaltado [code]="codigoMap"></code></pre>
    </div>

</div>
